

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #222;
}

/* CONTENEDOR GENERAL */
.detalle-noticia {
    max-width: 1000px; 
    margin: 40px auto;
    padding: 0 20px;
}

/* BLOQUE SUPERIOR */
.bloque-superior {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.bloque-contenido {
    display: flex;
    gap: 30px;
    align-items: flex-start; 
    width: 100%;
}

/* IMAGEN PRINCIPAL */
    .imagen-principal {
        max-width: 50%;
        margin-bottom: 20px;
    }
.texto-superior {
    flex: 1;
}

.texto-superior h2 {
    margin: 0 0 10px;
    font-size: 26px;
    font-weight: 600;
}

.fecha {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

/* TEXTO DETALLE */
.texto-detalle {
    margin-bottom: 25px;
    line-height: 1.6;
}

/* GALERÍA INFERIOR  */
.galeria-inferior {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.galeria-inferior img {
    width: 320px;     
    height: 210px;    
    object-fit: cover;
    border-radius: 6px;
}

/* FOOTER */
footer {
    color: blac;
    color: #000;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
}

/* BOTÓN VOLVER ARRIBA */
#btnTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    z-index: 1000;
    transition: background 0.3s;
}

#btnTop:hover {
    background-color: #555;
}
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .bloque-contenido, .galeria-inferior {
        flex-direction: column;
    }

    .imagen-principal, .galeria-inferior img {
        width: 100%;
        height: auto;
    }
}