/*  CONTENEDOR GENERAL*/

.detalle-noticia {
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
}

/*BLOQUE SUPERIOR*/

.bloque-superior {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin-bottom: 30px;
}

.bloque-superior,
.bloque-superior:hover {
    background: none;
    box-shadow: none;
    transform: none;
}

/*IMAGEN PRINCIPAL*/

.imagen-principal {
    max-width: 260px;
    height: auto;
    border-radius: 4px;
    box-shadow: none;
}

/* TEXTO SUPERIOR*/

.texto-superior h2 {
    margin-top: 0;
}

.fecha {
    font-size: 0.9em;
    color: #666;
}

/*TEXTO DETALLADO*/

.texto-detalle {
    max-width: 800px;
    margin-bottom: 25px;
}


.galeria-inferior {
    display: flex;
    gap: 25px;
    align-items: flex-start;
    margin: 30px 0;
}

.galeria-inferior img {
    max-width: 220px;
    height: auto;
    border-radius: 4px;
    box-shadow: none;
    background: none;
}

/* imagen principal (arriba) */
.imagen-principal {
    max-width: 350px;  
    height: auto;
    position: relative;
    border-radius: 4px;
}

/* galería inferior */
.galeria-inferior img {
    max-width: 300px;   
    height: auto;
    position: relative;
    border-radius: 4px;
}
#btnTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    z-index: 1000;
    transition: background 0.3s;
}

#btnTop:hover {
    background-color: #555;
}
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {

   
    .bloque-superior {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .imagen-principal {
        max-width: 90%;
        margin-bottom: 20px;
    }

    .texto-superior {
        width: 100%;
    }

  
    .texto-detalle {
        max-width: 100%;
    }

    /* galería inferior*/
    .galeria-inferior {
        flex-direction: column;
        align-items: center;
    }

    .galeria-inferior img {
        max-width: 90%;
    }


    #btnTop {
        bottom: 20px;
        right: 20px;
    }
}

@media (max-width: 480px) {

    h2 {
        font-size: 1.4em;
    }

    h3 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.95em;
    }
}
